.examUpdate_container{
    margin: 2rem;
}
.examUpdate_container form {
    background: #f1f1f1;
    padding: 4rem;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px 0px #858585;
}
.examTDD, .exam_Subjects {
    display: flex;
    gap: 2rem;
    margin: 2rem;
}
.examUp_Contant{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.examUp_Contant input{
    width: 350px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
}

.examCh_Contant{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.examCh_Contant > input {
   
    width: 31px;
    height: 31px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
}


.examCh_Contant > label,
.examUp_Contant > label ,
.examUpsu{
    font-weight: 500;
 }


.examUp_Submit {
    background: #1A374D;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}
.examUp_Submit button{
    border: none;
    background: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}




